<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<% include ../header.ejs %>

<body background="../images/background7.jpg" style="background-size:100% 500px">
<h1><%= title%></h1>
<p><%= author%></p>
<p>Content here</p>

<% include ../cprt.ejs %>
</body>

</html>