<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style>
        .titlefont{
            margin-left:15%;
            font-family:"Vladimir Script";
            color:#884400;
            font-weight:800;
            font-size:45px;
        }
    </style>
</head>

<% include ../header.ejs %>

<body background="../images/background7.jpg" style="background-size:100% 500px">
<p class = "titlefont"><%= title %></p>

<div class="container" style="background-color:#FFDD66;padding:bottom:50px">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#exhibition" style="background-color: #FFA500" data-toggle="tab">Exhibition Post</a></li>
        <li><a href="#help" data-toggle="tab" style="background-color: #FFA500">Help Post</a></li>
    </ul>
    <div class="tab-content" style="padding-bottom:20px;">
        <div class="tab-pane active" id="exhibition">
            <form method="post" id = "inputForm" enctype="multipart/form-data"class="mx-auto w-75">
                <input style="display: none" name="type" value="article">
                <div class="input-group">
                    <div class="input-group-text">
                        <input type="radio" name="tag" id="t1" value="main">
                        <label for="t1">Main Dishes</label>
                    </div>
                    <div class="input-group-text">
                        <input type="radio" name="tag" id="t2" value="dish">
                        <label for="t1">Dishes</label>
                    </div>
                    <div class="input-group-text">
                        <input type="radio" name="tag" id="t3" value="soup">
                        <label for="t1">Soups</label>
                    </div>
                    <div class="input-group-text">
                        <input type="radio" name="tag" id="t4" value="dessert">
                        <label for="t1">Desserts</label>
                    </div>
                </div>

                <label id = "titlelabel">Title:</label>
                <br><input id = "title" type="text" name = "title" required>
                <br><label id = "formchild1">Paragraph:</label>
                <br><textarea id = "formchild2" type="text" name = "text" class="mx-auto w-75" required ></textarea>
                <br><label id = "formchild3" >Picture:</label>
                <input id = "formchild4" type="file" name = "picture" class="w-75" style="margin-left:0px" required >



                <br><button id = "next_btn" class="btn btn-warning" style="color:#000000;margin-bottom:50px;">Next</button>
                <button id = "end_input_btn" type="submit" class="btn btn-warning btn-right" style="color:#000000;margin-left:90%">End input</button>

                <script>
                    document.getElementById("next_btn").addEventListener("click", nextPara_arti);
                    function nextPara_arti() {
                        var form = document.getElementById("inputForm");
                        var submit = document.getElementById("next_btn");

                        var newpara = document.createElement("textarea");
                        newpara.rows=2;
                        newpara.cols=98;
                        newpara.name = 'text';
                        newpara.required = true;
                        form.insertBefore(document.createElement("br"), submit);
                        form.insertBefore(newpara, submit);
                        form.insertBefore(document.createElement("br"), submit);

                        var newpic = document.createElement("input");
                        newpic.type = 'file';
                        newpic.name = 'picture';
                        newpic.required = true;
                        form.insertBefore(document.createElement("br"), submit);
                        form.insertBefore(newpic, submit);
                        form.insertBefore(document.createElement("br"), submit);
                    }
                </script>
            </form>


        </div>
        <div class="tab-pane" id="help">
            <form method="post" id = "helpForm" enctype="multipart/form-data"class="mx-auto w-75">
                <input style="display: none" name = "type" value="help">
                <div class="input-group">
                    <div class="input-group-text">
                        <input type="radio" name="tag" id="t1" value="main">
                        <label for="t1">Main Dishes</label>
                    </div>
                    <div class="input-group-text">
                        <input type="radio" name="tag" id="t2" value="dish">
                        <label for="t1">Dishes</label>
                    </div>
                    <div class="input-group-text">
                        <input type="radio" name="tag" id="t3" value="soup">
                        <label for="t1">Soups</label>
                    </div>
                    <div class="input-group-text">
                        <input type="radio" name="tag" id="t4" value="dessert">
                        <label for="t1">Desserts</label>
                    </div>
                    <div class="input-group-text">
                        <input type="radio" name="tag" id="t5" value="ingredient">
                        <label for="t1">Ingredients</label>
                    </div>
                </div>

                <label id = "titlelabel">Title:</label>
                <br><input id = "title" type="text" name = "title" required>
                <br><label id = "formchild1">Paragraph:</label>
                <br><textarea id = "formchild2" type="text" name = "text" class="mx-auto w-75" required></textarea>
                <br><label id = "formchild3" >Picture:</label>
                <input id = "formchild4" type="file" name = "picture" class="w-75" required>

                <br><button id = "next_btn_help" class="btn btn-warning" style="color: #000000;margin-bottom: 50px" >Next</button>
                <button id = "end_input_btn_help" type="submit" class="btn btn-warning" style="color:#000000;margin-left:90%">End input</button>
                <script>
                    document.getElementById("next_btn_help").addEventListener("click", nextPara_help);
                    function nextPara_help() {
                        var form = document.getElementById("helpForm");
                        var submit = document.getElementById("next_btn_help");

                        var newpara = document.createElement("textarea");
                        newpara.rows=2;
                        newpara.cols=98;
                        newpara.name = 'text';
                        newpara.required = true;
                        form.insertBefore(document.createElement("br"), submit);
                        form.insertBefore(newpara, submit);

                        var newpic = document.createElement("input");
                        newpic.type = 'file';
                        newpic.name = 'picture';
                        newpic.required = true;
                        form.insertBefore(document.createElement("br"), submit);
                        form.insertBefore(newpic, submit);
                        form.insertBefore(document.createElement("br"), submit);
                    }
                </script>
            </form>


        </div>
    </div>


</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</html>


