<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<script>
    document.addEventListener('error', function(e) {
        console.log(e);
    }, true);

    if (e) {
        imgpath = '../profileimgs/default';
    }
</script>

<% include ../header.ejs %>

<body background="../images/background7.jpg" style="background-size:100% 500px">



</body>

</html>