<!--This is the sign out page displayed when user signs out-->
<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<% include ../header.ejs %>

<body background="../images/background7.jpg" style="background-size:100% 500px">
<h1 class = "font-weight-bold p-3" style="margin-left: 4.5em"><%= title %></h1>

<% if (message){ %>
<div class="bg-success container text-white w-75" style="font-size: 1.5em"><%= message%></div>
<% } %>


<div style="height:500px;font-size:30px;text-align:center;color:#884400">
    <p><br><br><br>Check more popular articles in our homepage!</p>
    <a href="../homepage/homepage" class="btn btn-warning active" aria-pressed="true" role="button" style=";text-align:center;width:5cm%;min-width:3.5cm;min-height:1.1cm">Homepage</a><br>

</div>
<% include ../cprt.ejs %>
</body>

</html>